.searchbar form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 0 auto;
}

@media (min-width: 400px) {
  .searchbar form {
    padding: 24px;
  }
}

.searchbar form > * {
  margin: 16px;
}

.searchbar form input {
  border: none;
  border-bottom: 3px solid;
  padding: 8px 16px;
  outline: none;
  flex: 10 1 300px;
}

.searchbar form select {
  background: none;
  border: none;
  border-bottom: 3px solid;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px 16px;
  flex: 3 1 130px;
  text-align: center;
}

.searchbar form button {
  flex: 1 1 100px;
  color: #fff;
  font-size: 1em;
  height: 41px;
  font-weight: normal;
  background-color: #dc291e;
  border-color: #dc291e;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  line-height: 40px;
  min-width: 100px;
  white-space: nowrap;
}

.searchbar__error {
  color: rgb(236, 40, 33);
}