.App {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
}

#header {
  padding: 24px 0;
  background: #0080bf;
}

#header h1 {
  font-size: 2em;
  color: white;
}

#header img {
  width: 256px;
}

.error {
  color: rgb(236, 40, 33);
}

.container {
  margin: 24px auto;
  min-height: 65vh;
  max-width: 1200px;
}

.searchbar form {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
}

.searchbar form > * {
  margin: 16px;
}

.searchbar form input {
  border: none;
  border-bottom: 3px solid;
  padding: 8px 16px;
  outline: none;
  flex: 10 1 300px;
}

.searchbar form button {
  flex: 1 1 100px;
  color: #fff;
  font-size: 1em;
  height: 41px;
  font-weight: normal;
  background-color: #dc291e;
  border-color: #dc291e;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  line-height: 40px;
  min-width: 100px;
  white-space: nowrap;
}

.results-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 16px;
  padding: 16px 24px;
  text-align: left;
  flex: 0 1 250px;
}

.card__header .product-name {
  font-weight: 700;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #0080bf;
}

#footer {
  background: #424046;
  color: white;
  padding: 32px;
}

#footer p a {
  color: white;
}
